:root {
  --main-color: #838297;
  --pane-padding: 5px 42px;
  --main-font: "Bebas Neue", cursive;
  --bg-color: "#F9F9FF";
}
.nav-class {
  position: relative;
}
.nav-link-active {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  margin-right: 10px;
}
.nav-link-active:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fdd778;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link-active:hover:after {
  width: 100%;
  left: 0;
}
.btn-main {
  background-image: linear-gradient(to right, #ff4c60 0%, #fdd778 100%);
}
.btn-main {
  margin: 10px;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 100% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  display: block;
  transition: all 0.2s ease-in-out;
}

.btn-main:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  transform: scale(1.1);
}
